/* Frontend Mentor Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral
*/ 
$white : hsl(0, 0%, 100%);
$light-grayish-violet : hsl(270, 3%, 87%);
$dark-grayish-violet : hsl(279, 6%, 55%);
$very-dark-violet : hsl(278, 68%, 11%);
$red : hsl(0, 100%, 66%);
$start-gradient : hsl(249, 99%, 64%);
$end-gradient : hsl(278, 94%, 30%);
/*

## Typography

### Body Copy

- Font size: 18px

### Font
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@font-face {
    font-family: 'Space Grotesk', sans-serif ;
    src: url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap);
    font-weight: 500;
}
p,
form,
form ::placeholder,
form input,
form button{
    font-family: 'Space Grotesk', sans-serif;
}
/*
============================================
============================================
*/ 

*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-style: none;
}


#cardFacturation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#frontCardDisplay,
#backCardDisplay{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#frontCardDisplay{
    background-image: url(./images/bg-card-front.png);
    color: $white;
    #cardLogo{
        margin: 5% 0 0 5%;
    }
    .informations-container{
        margin: 15% 5% 5% 5%;
        letter-spacing: 4px;
        .card-number{
            position: relative;
            top: 35%;
            left: 1%;
            font-size: 1.5em;
        }
        .others-informations{
            margin-top: 5%;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            .expiration{
                display: flex;
            }
        }  
    }
}
#backCardDisplay{
    background-image: url(./images/bg-card-back.png);
    color: $white;
    letter-spacing: 2px;
    overflow: hidden;
    .cvc{
        position: relative;
        top: 45%;
        left: 80%;
    }
}
.cardFormat{
    height: 245px;
    width: 445px;
    border-radius: 10px;
}

//////////////
// Formulaire
#form-container{
    height: 350px;
    width: 380px;
}

#formulaire{
    height: 100%;
    width: 100%;
    .entry-1,
    .entry-2,
    .entry-3,
    .entry-4{
        display: flex;
        flex-direction: column;
    }
    input,
    button{
        border-radius: 10px;
    }
    label{
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
    }
    input{
        height: 40px;
        margin: 10px 0 30px 0;
        border-width: 1px;
        border: 1px solid $light-grayish-violet;
        padding-left: 10px;
    }
    input{
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin:0;
        }
        &::-o-inner-spin-button{
            -moz-appearance: none;
            margin:0;
        }
    }
    }
    .last-entries,
    .entry-3 div{
        display: flex;
        flex-direction: row;
    }
    .last-entries{
        .expiration-inputs{
            :first-child{
                margin-right: 10px;
            }
            :last-child{
                margin-right: 20px;
            }
            input{
                width: 40%;
            }
        }
        .entry-4{
            width: 50%;
        }
    }
#form-btn{
        width: 100%;
        height: 50px;
        background-color: $very-dark-violet;
        color: $white;
        font-size: 13px;
        letter-spacing: 1px;
        border-radius: 10px;
        transition: 0.4s ease-in-out;
        &:hover{
            transform: scale(1.05);
            opacity: 0.95;
        }
    }
/* Affichage iPhone */
@media screen and (max-width : 375px) {
    #cardFacturation{
        display: block;
    }
    #cards-container{
        #frontCardDisplay{
            transform: translateY(115%);
        }
        #backCardDisplay{
            transform: translateY(-115%);
        }
    }
}
/* Affichage iPad */
@media screen and (min-width: 376px) and (max-width: 1024px) {
    
}
/* Affichage Mac */
@media screen and (min-width : 1025px) {
    body{
        background-image: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: 33% 100vh;
    }
    #cardFacturation{
        height: 100vh;
    }
    #frontCardDisplay,
    #backCardDisplay{
        position: relative;
        transition: 1s ease-in-out;
    }
   #frontCardDisplay{
            right : 47px;
            bottom: 19px;
            z-index: 999;
    }
    #backCardDisplay{
        left : 47px;
        top: 19px;
        z-index: 998;
    }
}
// Message de confirmation de paiement
.confirmation{
    transition: 600ms;

    width: 100%;

    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin: 40px 0 30px 0;
        text-transform: uppercase;
    }
    p{
        color:$light-grayish-violet;
        filter: brightness(0.3);
        margin-bottom: 30px;
    }
}

.constriction {
    transition: 600ms;
    transform: scale(0);
    z-index: 999;
}



/* @keyframes revealing {
    0% {
        display: block;
    }

    50% {}

    100% {}
}*/
.apparition{
    transform: revealing;
}

// Attributions Front-end Mentor
.attribution{
    opacity: 100%;
    position: relative;
    &:hover{
        opacity: 100%;
    }
}